@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Cantarell';
    font-style: normal;
    font-weight: 400;
    src: local('Cantarell Regular'), local('Cantarell-Regular'), url(http://themes.googleusercontent.com/static/fonts/cantarell/v4/V86VyqXbc09Sss3BPsMj1z8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@mixin boxsizing($args) {
    -webkit-box-sizing: $args;
    -moz-box-sizing: $args;
    box-sizing: $args;
}

$color-black: #191919;
$color-gray: lighten($color-black, 35%);
$color-white: #fff;

$color-primary: lighten(#4978a2, 30%);
$color-secondary: lighten(#8aad92, 10%);

$border-radius: 4px;

.font-header {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 40px;
    color: $color-black;
}
.font-subheader {
    font-family: 'Cantarell', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: $color-black;
}
.font-body {
    font-family: 'Cantarell', sans-serif;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 6px 0;
    color: $color-black;
}

body {
    overflow-x: hidden;
}

h1 { @extend .font-header; }
h2 { @extend .font-subheader; text-align: center; }
h3 { @extend .font-body; text-align: center; }
p { @extend .font-body; }
a { color: $color-black; &:hover { color: $color-black; } }

#repos {
    width: 100%;

    div {
        width: 300px;
        margin: 10px 5% 10px 5%;

        border: 1px $color-gray solid;
        border-radius: $border-radius;

        p {
            padding: 5px;
        }

        div {
            @include boxsizing(border-box);

            display: block;
            padding: 5px;
            margin: 0;

            width: 100%;

            color: $color-white;
            border: none;

            &.repo-header {
                .octicon { margin: 8px; a { color: $color-white; } }
                .repo-name { margin: 6px 0; }

                .octicon-left { float: left; margin-right: -16px; }

                .repo-name { @extend .font-subheader; text-align: center; }

                background-color: $color-primary;
                border-radius: $border-radius $border-radius 0 0;
            }

            &.repo-body {
                background-color: $color-white;
                border-radius: 0;
            }

            &.repo-status {
                background-color: $color-secondary;
                border-radius: 0 0 $border-radius $border-radius;

            }
        }

        :last-child {
            border-radius: 0 0 $border-radius $border-radius;
        }
    }
}
