<div class="repo-header">
    <span ng-if="repo.fork">
        <span class="octicon octicon-left octicon-repo-forked"></span>
    </span>

    <h2 class="repo-name">
        <a href="{{repo.html_url}}">{{app.name}}</a>
    </h2>

    <span class="octicon octicon-right octicon-eye">
        <a href="{{repo.html_url}}/watchers"> {{repo.subscribers_count}}</a>
    </span>
    <span class="octicon octicon-right octicon-star">
        <a href="{{repo.html_url}}/stargazers"> {{repo.stargazers_count}}</a>
    </span>
    <span class="octicon octicon-right octicon-repo-forked">
        <a href="{{repo.html_url}}/network"> {{repo.forks_count}}</a>
    </span>
    <span class="octicon octicon-right octicon-issue-opened">
        <a href="{{repo.html_url}}/issues"> {{repo.open_issues_count}}</a>
    </span>

    <span>
        {{repo.latest}}<span class="octicon octicon-right octicon-chevron-right"> {{repo.ahead_by}}</span>
    </span>
</div>

<div class="repo-body">
    <p class="description">{{repo.description}}</p>
</div>

<div class="repo-status">
    <span ng-repeat="test in test">
        <a href="{{test.url}}">
            <img src="{{test.image}}"\>
        </a>
    </span>

    <span ng-repeat="deploy in deploy">
        <a href="{{deploy.url}}">
            <img src="{{deploy.image}}"\>
        </a>
    </span>

    <span ng-repeat="monitor in monitor">
        <a href="{{monitor.url}}">
            <img src="{{monitor.image}}"\>
        </a>
    </span>
</div>
