@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: 400;
  src: local('Cantarell Regular'), local('Cantarell-Regular'), url(http://themes.googleusercontent.com/static/fonts/cantarell/v4/V86VyqXbc09Sss3BPsMj1z8E0i7KZn-EPnyo3HZu7kw.woff) format('woff'); }
.font-header, h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 40px;
  color: #191919; }

.font-subheader, h2, #repos div div.repo-header .repo-name {
  font-family: 'Cantarell', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: #191919; }

.font-body, h3, p {
  font-family: 'Cantarell', sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 6px 0;
  color: #191919; }

body {
  overflow-x: hidden; }

h2 {
  text-align: center; }

h3 {
  text-align: center; }

a {
  color: #191919; }
  a:hover {
    color: #191919; }

#repos {
  width: 100%; }
  #repos div {
    width: 300px;
    margin: 10px 5% 10px 5%;
    border: 1px #727272 solid;
    border-radius: 4px; }
    #repos div p {
      padding: 5px; }
    #repos div div {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: block;
      padding: 5px;
      margin: 0;
      width: 100%;
      color: white;
      border: none; }
      #repos div div.repo-header {
        background-color: #abc3d9;
        border-radius: 4px 4px 0 0; }
        #repos div div.repo-header .octicon {
          margin: 8px; }
          #repos div div.repo-header .octicon a {
            color: white; }
        #repos div div.repo-header .repo-name {
          margin: 6px 0; }
        #repos div div.repo-header .octicon-left {
          float: left;
          margin-right: -16px; }
        #repos div div.repo-header .repo-name {
          text-align: center; }
      #repos div div.repo-body {
        background-color: white;
        border-radius: 0; }
      #repos div div.repo-status {
        background-color: #a8c2ae;
        border-radius: 0 0 4px 4px; }
    #repos div :last-child {
      border-radius: 0 0 4px 4px; }
