{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    {{ super() }}

    <div id='repos'>
    {% for repo in repos %}
        <div id='repo-{{ repo.id }}'>
            <div class='repo-header'>
            {% if repo.fork %}
                <!-- TODO: link to parent -->
                <span class='octicon octicon-left octicon-repo-forked'></span>
            {% endif %}

                <h2 class='repo-name'>
                    <a href='{{ repo.html_url }}'>{{ repo.name }}</a>
                </h2>

                <!-- TODO: if repo.homepage, link? -->

                <span class='octicon octicon-right octicon-eye'>
                    <a href='{{ repo.html_url }}/watchers'> {{ repo.subscribers_count }}</a>
                </span>
                <span class='octicon octicon-right octicon-star'>
                    <a href='{{ repo.html_url }}/stargazers'> {{ repo.stargazers_count }}</a>
                </span>
                <span class='octicon octicon-right octicon-repo-forked'>
                    <a href='{{ repo.html_url }}/network'> {{ repo.forks_count }}</a>
                </span>
                <span class='octicon octicon-right octicon-issue-opened'>
                    <a href='{{ repo.html_url }}/issues'> {{ repo.open_issues_count }}</a>
                </span>

                <span>
                    {{ repo.tag }}<span class='octicon octicon-right octicon-chevron-right'> {{ repo.tag_off }}</span>
                </span>
            </div>
            <div class='repo-body'>
                <p class='description'>{{ repo.description }}</p>
            </div>
            <div class='repo-status'>
            {% if repo.status_url and repo.status_image %}
                <a href='{{ repo.status_url }}'>
                    <img src='{{ repo.status_image }}' \>
                </a>
            {% endif %}
            {% if repo.deploy_url and repo.deploy_stars %}
                <a href='{{ repo.deploy_url }}'>
                    Stars: {{ repo.deploy_stars }}
                </a>
            {% endif %}
            {% if repo.deploy_url and repo.deploy_pulls %}
                <a href='{{ repo.deploy_url }}'>
                    Pulls: {{ repo.deploy_pulls }}
                </a>
            {% endif %}
            </div>

            <!-- {{ repo.created_at }} -->
            <!-- {{ repo.pushed_at }} -->
            <!-- {{ repo.updated_at }} -->
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block js %}
<script src='/js/wookmark-2.0.1.min.js'></script>
<script>
$('#repos').wookmark({
    itemWidth: 300,
    offset: 12,
});
</script>
{% endblock %}
